
body {
  background-color: #434040;
  color: white;
  font-family: 'Krona One', sans-serif;
  text-align: center;
}
nav {
  background-color: #20712c;
  padding: 10px;
}

/* Linker navigatie */
.nav-links {
    flex: 1;
    display: flex;
    gap: 32px;
}
nav a:hover {
  text-decoration: underline;
}
h1 {
  margin-top: 50px;
}
